# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: Build Docker Images and Publish

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.FLOMESH_DOCKERHUB_USERNAME }}
        password: ${{ secrets.FLOMESH_DOCKERHUB_PASSWORD }}

    - name: Build and Push consumer-service-v1
      uses: docker/build-push-action@v2
      with:
        context: ./consumer-service-v1
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-consumer-svc:1.0.0-dubbo
    
    - name: Build and Push time-service-v1
      uses: docker/build-push-action@v2
      with:
        context: ./time-service-v1
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-time-svc:1.0.0-dubbo

    - name: Build and Push hello-service-v1
      uses: docker/build-push-action@v2
      with:
        context: ./hello-service-v1
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-hello-svc:1.0.0-dubbo

    - name: Build and Push date-service-v1
      uses: docker/build-push-action@v2
      with:
        context: ./date-service-v1
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-date-svc:1.0.0-dubbo

    - name: Build and Push consumer-service-v2
      uses: docker/build-push-action@v2
      with:
        context: ./consumer-service-v2
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-consumer-svc:2.0.0-dubbo

    - name: Build and Push time-service-v2
      uses: docker/build-push-action@v2
      with:
        context: ./time-service-v2
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-time-svc:2.0.0-dubbo

    - name: Build and Push hello-service-v2
      uses: docker/build-push-action@v2
      with:
        context: ./hello-service-v2
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-hello-svc:2.0.0-dubbo

    - name: Build and Push date-service-v2
      uses: docker/build-push-action@v2
      with:
        context: ./date-service-v2
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-date-svc:2.0.0-dubbo

    - name: Build and Push mock-service
      uses: docker/build-push-action@v2
      with:
        context: ./mock-service
        platforms: linux/amd64
        push: true
        tags: flomesh/samples-mock-svc:1.0.0-dubbo
